
.main {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,667e99+100 */
    background: #7db9e8; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #7db9e8 0%, #667e99 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #7db9e8), color-stop(100%, #667e99)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #7db9e8 0%, #667e99 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #7db9e8 0%, #667e99 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #7db9e8 0%, #667e99 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, #7db9e8 0%, #667e99 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db9e8', endColorstr='#667e99', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    padding: 40px 0px 40px 0px;
}

html, body {
    background-color: #6A88A6;
}

.container {
    background-color: #FFFFFF;
    margin: 0px auto 0px auto;
    padding: 0px;
    width: 215mm;
    height: 280mm;
}

.card {
    padding-bottom: 10px;
}

.container .row {
    margin: 0px;
    height: 100%;
}

.sidebar {
    margin: 0px;
    height: 100%;
    padding: 0 !important;
}

.contact {
    padding: 50px 50px 50px 50px;
}

.side {
    color: #FFF;
    margin: 10px 0px 20px 0px !important;
    padding-left: 20px !important;
}

.sidebar i {
    margin: 23px 0px 0px 20px;
    color: #FFFFFF;
}

.sidebar a {
    color: #FFFFFF;
}

.sidebar p {
    color: #FFFFFF;
}

.side-icons {
    text-align: end;
}

.profile {
    padding: 0 !important;
    position: relative;
    font-weight: 200;
    background-color: #3289D0;
}

.profile .name {
    font-size: 3rem;
    text-align: center;
    margin: 5px;
}

.profile .description {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.side-item p {
    margin-bottom: 0px;
    font-size: 1.1rem;
}

.side-item {
    margin-left: 2px;
}

.side-item span {
    font-size: 0.9rem;
}

.divider-sidebar {
    height: 2px;
}

.phone a {
    color: white;
}

.content {
    padding-top: 10px;
    color: #263238;
}

.card-content i {
    margin-top: 2px;
}

.card-title {
    line-height: 29px !important;
}

.title {
    margin: 0px 0px 5px 0px !important;
    font-size: 18px;
    line-height: 10px;
}

.title a {
    color: #000000;
}

.content .description {
    margin: 10px 0px 0px 0px !important;
    text-align: justify;
}

.interest-hover {
    color: black;
}

.technologies {
    font-size: 0.8rem;
    margin: 10px 0px 0px 0px !important;
}

.content .date {
    font-size: 0.9rem;
}

.education .section .title {
    font-size: 15px;
}

.fixed-action-btn {
    bottom: 45px;
    right: 24px;
}